


@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=IBM+Plex+Sans+KR&display=swap');


*{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;
    font-size: large;
}
.header{
  background-color: #d1c4e2;
  color: white;
}

.btn{
    background-color: #d1c4e2;
    color: white;
}

.list-group-item input[type="checkbox"]{
  transform: scale(1.2);
  margin-right: 9px;
}

.list-group-item input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}

